@if (Request.IsAuthenticated)
{

	<li class="dropdown user user-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="glyphicon glyphicon-user"></i>
			<span>@User.Identity.Name <i class="caret"></i></span>
		</a>
		<ul class="dropdown-menu">
			<!-- User image -->
			<li class="user-header bg-light-blue">
				<p>
					@User.Identity.Name
				</p>
			</li>
			<!-- Menu Footer-->
			<li class="user-footer">
				<div class="pull-right">
					@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
										{
		@Html.AntiForgeryToken()
											<a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
																				}
				</div>
			</li>
		</ul>
	</li>
}

else
{
	<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
	<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}